.NavigateSlider{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 300px;
  width: 80%;
  max-width: 500px;

  input{
    background-color: transparent;
    outline: none;
    &::-webkit-slider-runnable-track {
      border-radius: 1.3px;
      height: 5px;
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      margin-top: -5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color:  #e7bf16;

      cursor: pointer;
      -webkit-appearance: none;
    }
  }

  datalist{

  }
}