@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
  font-family: Oswald, sans-serif;
  margin: 0;
}

.FirstSlide{
  background-color: steelblue;
}
.SecondSlide{
  background-color: lightsalmon;
}
.ThirdSlide{
  background-color: hotpink;
}
.FourthSlide{
  background-color: skyblue;
}
