.DotNavigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  .Dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &.Active {
      background-color: #e7bf16;
    }
  }
}
